@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Add custom animation here */
  --animate-logo-scroll: logo-scroll 10s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
html,
body {
  overflow-x: hidden;
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}


@media (prefers-reduced-motion: reduce) {
  .animate-slide-in {
    animation: none;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* light background */
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #0d355d; /* your primary color */
 
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #123f73;
}
